* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

.card__fyrirsogn {
  font-size: calc(24em/16);
  line-height: calc(20em/24);
}
.card__texti {
  font-size: 1em;
  line-height: calc(20em/16);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  max-width: calc(470em/16);
  max-height: calc(320em/16);
  margin-bottom: calc(10em/16);
  overflow: scroll;
}

.card__utan-um-mynd {
  display: flex;
}
 .card__mynd {
  width: 100%;
  object-fit: contain;
  max-width: 150px;
  padding-right: calc(20em/16);
 }
.card--aftast {
  order: -1;
}

.card__meginmal {
  display: flex;
  flex-direction: row;
}